body{background:transparent}
.startBtn{cursor: pointer;border-radius: 25px;padding: 10px;text-align: center;font-size: 24px;font-weight: 800}
#bufferCanvas{position: absolute;display: none}         
#talkingCanvas{position: absolute; top: 0;bottom: 0}
#PlayerBar{border-radius: 8px;padding: 0;position: absolute;bottom: 0}
.playerBtns{padding: 2px 1px 0;display: inline-block;position: relative}
