body{background:transparent}
.startBtn{cursor: pointer;border-radius: 25px;padding: 10px;text-align: center;font-size: 24px;font-weight: 800}
#bufferCanvas{position: absolute;display: none}         
#talkingCanvas{position: absolute; top: 0;bottom: 0}
.playerBtns{padding: 4px 2px 0;display: inline-block;position: relative}
#click-to-play{position: absolute;padding: 10px;max-width: 50%;margin: 0 auto;font-size: 24px;text-align: center;font-weight: 800;border-radius: 12px;z-index: 10;text-shadow: 0 -1px 0 rgba(10,10,10,0.5);color: black}
#exitMain{opacity: 1;position: relative;z-index: 999;margin-left: 300px}
#talking_head_video{position: relative;left: 0px;top: 0px;cursor: pointer;overflow: hidden}
#talking_head_video:hover > #PlayerBar{opacity: 1}
#PlayerBar{border-radius: 8px;padding: 0;position: absolute;bottom: 2px;z-index: 10;opacity: 0;transition: opacity 1.5s;-webkit-transition:opacity 1.5s}
#spokespersonImage{background-repeat: no-repeat;position: absolute;top:0px}